[Unit]
Description=Uptime Kuma container
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a uptime-kuma
ExecStop=/usr/bin/docker stop -t 2 uptime-kuma

[Install]
WantedBy=multi-user.target
